.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
native-libs/
.gradle
build/
local.properties
.classpath
.project
*.iml
*.ipr
*.iws
*/.idea/
.idea
out/**
native-libs/
.DS_Store
gradle.properties